.container{
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: flex-end; 
}

.logo{
    flex: 1;


}

ul{
  display: flex;
  margin-right: 10px;
}

ul :hover{
    background-color: #118d2c;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

li{
    list-style: none;
    margin-left: 50px;
}